<h1 class='page-header'>Welcome to MegaMek's API Support Site</h1>
<p>
  This is an API support site for the
  <%= link_to 'MegaMek', 'https://megamek.org' %> group of java applications.
  It currently has support for the following API sets:

  <ul>
    <li>Server Announcement</li>
    <li>Server List Aggregation</li>
  </ul>
</p>

<p>
  Planned future additions:

  <ul>
    <li>Star System Data</li>
    <li>Planetary Data</li>
    <li>News Feed Aggregation</li>
  </ul>
</p>
