# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 856b3f3bdca788f5d1752b14924f39e102fc02defc1caac6f094b4797ea15cfcce2df773d5a7b3462bb9a0de81a20b0901fc2a5df54b4b35d98ea87533c97f64

test:
  secret_key_base: 675813cf4e09ba4a0a6a29c3b1c9ff74523eb38b44eadaa9164c511a2997382e09b1c0a6ff936d487d847f3de026552788873ca4d44fbcd8aa3ce79024a04fa8

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
